@model SetList
<div>
    <h3 class="display-4">List Details</h3>
    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>List Id</th>
                    <th>List Name</th>
                    <th>Number of Sets in List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.Id)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.NumberSets)</td>
                </tr>
            </tbody>
        </table>
        <p>Delete This List</p>
        <p>Warning: Deleting This List Will Delete ALL Sets In The List</p>    
        <form asp-controller="SetLists" asp-action="Delete">
            <table>
                <tr>
                    <td>User Token:</td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <input type="hidden" id="listId" name="listId" value="@Model.Id" />

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
    }
</div>