@model SetList
<div>
    <h3 class="display-4">List Details</h3>
    @if (Model.Results != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>List Id</th>
                    <th>List Name</th>
                    <th>Number of Sets in List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.Id)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.NumberSets)</td>
                </tr
            </tbody>
        </table>
    }
</div>