@model LegoModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">Lego Part Finder</h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>Part Number: </td>
                    <td><input type="text" id="partNumber" name="partNumber" /></td>
                   
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Get Part Lists</h3>
        <form asp-controller="AllLists" asp-action="Index">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    </center>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Part Number</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PartNumber)</td>
                    <td><img src=@Html.DisplayFor(modelItem => Model.Image) alt="Image of Lego Part"/></td>
                    <td><button name="nameButton" id="idButton" title="Get Colors This Part Comes in" class="btn btn-secondary" onclick="location.href='@Url.Action( "Show","Home", new {  partNumber = Model.PartNumber })'">Get Colors This Part Comes In</button></td>
                </tr>
            </tbody>
        </table>
    }

</div>
