@model PartCatalog

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">Lego Part Finder</h3>
    <center>
        <form asp-controller="PartCatalogs" asp-action="Index">
            <table>
                <tr>
                    <td>Part Number: </td>
                    <td><input type="text" id="partNumber" name="partNumber" /></td>
                   
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Search For Sets</h3>
        <form asp-controller="Sets" asp-action="Index">
            <table>
                <tr>
                    <td>Set Number Or Name: </td>
                    <td><input type="text" id="searchTerm" name="searchTerm" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Get Part Lists</h3>
        <form asp-controller="PartLists" asp-action="Index">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Get Set Lists</h3>
        <form asp-controller="SetLists" asp-action="Index">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Create Part List</h3>
        <form asp-controller="PartLists" asp-action="Post">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td>New List Name: </td>
                    <td><input type="text" id="Name" name="Name" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        <h3 class="display-4">Create Set List</h3>
        </form>
        <form asp-controller="SetLists" asp-action="Post">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td>New List Name: </td>
                    <td><input type="text" id="Name" name="Name" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
        <h3 class="display-4">Get All Parts In Collection</h3>
        <form asp-controller="AllParts" asp-action="Index">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    </center>
</div>
