@model AllList

@if (Model.data != null)
{
    <table class="table table-bordered table-striped table-sm">
        @foreach (var list in Model.data)
        {
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Part Number</th>
                    <th>Image</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => list.Id)</td>
                    <td>@Html.DisplayFor(modelItem => list.Name)</td>
                    <td>@Html.DisplayFor(modelItem => list.NumParts)</td>
                    <h3 class="display-4">Get Details for this List</h3>
                    <form asp-controller="PartLists" asp-action="Show">
                        <table>
                            <tr>
                                <td>User Token: </td>
                                <input type="hidden" id="listId" name="listId" value="@list.Id" />

                                <td><input type="text" id="userToken" name="userToken" /></td>

                                <td><input type="submit" value="Submit" /></td>
                            </tr>
                        </table>
                        <hr />
                    </form>
                </tr>
            </tbody>
        }
    </table>
}
