@model PartColorShow

<div>
    <h3 class="display-4">Color Details</h3>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Part Number</th>
                    <th>Image</th>
                    <th>Prints</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.PartColor.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PartColor.PartNumber)</td>
                    <td><img src=@Html.DisplayFor(modelItem => Model.Color.Image) alt="Image of Lego Part" width="200" height="200" /></td>

					<td>
                        <form asp-controller="PartLists" asp-action="Post">
                            <tr>
                                <input type="text" id="userToken" name="userToken" placeholder="User Token:" />

                                <input type="text" id="ListId" name="ListId" placeholder="List ID:"/>

                                <input type="text" id="Quantity" name="Quantity" placeholder="Quantity" />

                                <input type="hidden" id="partNumber" name="partNumber" value="@Model.PartColor.PartNumber" />
                                <input type="hidden" id="colorId" name="ColorId" value="@Model.Color.ColorId" />


                                <input type="submit" value="Submit" />
                            </tr>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
