@model PartColorShow

<div>
    <h3 class="display-4">Color Details</h3>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Part Number</th>
                    <th>Image</th>
                    <th>Prints</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.PartColor.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.PartColor.PartNumber)</td>
                    <td><img src=@Html.DisplayFor(modelItem => Model.Color.Image) alt="Image of Lego Part" /></td>

					<td>
                        <form asp-controller="PartLists" asp-action="Post">
                            <table>
                                <tr>
                                    <td>User Token:</td>
                                    <td><input type="text" id="userToken" name="userToken" /></td>

                                    <td>List ID:</td>
                                    <td><input type="text" id="ListId" name="ListId" /></td>

                                    <td>Quantity:</td>
                                    <td><input type="text" id="Quantity" name="Quantity" /></td>

                                    <td><input type="hidden" id="partNumber" name="partNumber" value="@Model.PartColor.PartNumber" /></td>
                                    <td><input type="hidden" id="colorId" name="ColorId" value="@Model.Color.ColorId" /></td>


                                    <td><input type="submit" value="Submit" /></td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>
