@model IEnumerable<Part>

@{
    List<string> allParts = ViewData["AllParts"] as List<string> ?? new List<string>();
}

<h1>Parts</h1>

<br />

@foreach (var part in Model)
{
    <p>Name: @part.Name, Color: @part.Color, Qty: @part.Qty </p>
}