@model PartList

<div>
    <h3 class="display-4">List Details</h3>

    @if (Model != null)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>List Id</th>
                    <th>List Name</th>
                    <th>Number of Parts in List</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(modelItem => Model.Id)</td>
                    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
                    <td>@Html.DisplayFor(modelItem => Model.NumParts)</td>
                </tr>
            </tbody>
        </table>
        <h3 class="display-4">Delete This List</h3>
        <form asp-controller="PartList" asp-action="Destroy">
            <table>
                <tr>
                    <td>User Token: </td>
                    <td><input type="text" id="userToken" name="userToken" /></td>

                    <input type="hidden" id="listId" name="listId" value="@list.Id" />

                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    }
</div>